.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

@media (width >= 48rem) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }
}

.imagePlaceholder {
  aspect-ratio: 1 / 1;
  background-color: var(--bg-muted);
  border-radius: var(--radius-l2);
}
