.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.grid {
  display: grid;
  padding: var(--space-md);
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
}

@media (width >= 48rem) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: var(--space-lg);
  }
}

.imageWrapper {
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-l2);
  background-color: var(--bg-canvas);
  padding: var(--space-sm);
  transition: transform 0.2s ease;
}

.imageWrapper:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
