.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xl);
  scroll-behavior: smooth;
}

.tocSection {
  width: 100%;
  padding: var(--space-md);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.faqSection {
  width: 100%;
  padding: var(--space-md);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.faqSection > div {
  scroll-margin-top: var(--space-2xl);
}

.informationCenterContainer {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-items: center;
}

.mapImage {
  width: 100%;
}

@media (width >= 48rem) {
  .pageContainer {
    gap: var(--space-4xl);
  }

  .tocSection,
  .faqSection {
    padding: var(--space-lg);
  }

  .mapImage {
    max-width: 600px;
  }
}
