.pageContainer {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-4xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xl);
}

.tocSection {
  width: 100%;
  padding: var(--space-md);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.faqSection {
  width: 100%;
  padding: var(--space-md);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.infomationCenterContainer {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  align-items: center;
}

.mapImage {
  width: 100%;
}

@media (width >= 48rem) {
  .mapImage {
    max-width: 600px;
  }
}
