.pageContainer {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-4xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xl);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.faqSections {
  width: 100%;
  max-width: var(--size-xl);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}
