.trigger {
  top: 50vh;
  left: 50%;
}

.scrollToTop {
  position: fixed;
  bottom: var(--space-md);
  right: var(--space-md);
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 1;
}

.scrollToTop[data-visible="true"] {
  opacity: 1;
  visibility: visible;
}

@media (width >= 48rem) {
  .scrollToTop {
    width: 8rem;
    height: 8rem;
    bottom: var(--space-lg);
    right: var(--space-lg);
  }
}
