.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xl);

}

.content{
  margin: var(--space-3xl);
  align-items: center;
}

.result{
  margin-bottom: var(--space-3xl);
  align-items: center;
}

.contestHeading{
  text-align: center;
  margin-bottom: var(--space-3xl);
}
