.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}

.content {
  max-width: var(--size-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}

@media (width >= 48rem) {
  .container {
    gap: var(--space-3xl);
  }

  .result {
    margin-bottom: var(--space-3xl);
  }
}
