.faqList {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.blackStarIcon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.sectionName {
  font-size: var(--font-size-2xl);

}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-sm);
}
