.officialGoods {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-xl) var(--space-md);
  background-color: var(--bg-default);
}

.officialGoods > h1 {
  margin-bottom: var(--space-md);
}

.blurredBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-lg);
  width: 100%; /* 親の幅に合わせる */
}

.goodsHeading {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
}

.goodsTitleBox {
  border: 1px solid #191c4f;
  padding: var(--space-sm) var(--space-lg);
  margin-top: var(--space-xl);
  width: 250px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.goodsTitleBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(239 246 249 / 50%);
  transform: rotate(5deg);
  z-index: -1;
}

.lastYearGoods {
  position: relative;
  border: 3px solid #191c4f;
  padding: var(--space-lg);
  margin-top: var(--space-xl);
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: transparent;
  z-index: 1;
}

.lastYearGoods::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #191c4f;
  transform: rotate(5deg);
  z-index: -1;
  background-color: transparent;
}

.goodsList {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.goodsList li {
  display: flex;
  align-items: center;
}

.listIcon {
  width: var(--space-md);
  height: var(--space-md);
  fill: var(--fg-default);
  margin-right: var(--space-xs);
}

.goodsImage {
  max-width: 100%;
  height: auto;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-2xl);
}

.salesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin-top: var(--space-2xl);
  padding: var(--space-lg) 0;
}

.salesHeading {
  margin-bottom: var(--space-md);
}
