.officialGoods {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-xl) var(--space-md);
  background-color: var(--bg-default);
}

.goodsHeading {
  margin-top: var(--space-xl);
}

.lastYearGoods {
  position: relative;
  border: 3px solid var(--border-default);
  padding: var(--space-lg);
  margin-top: var(--space-xl);
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: transparent;
  z-index: 1;
}

.lastYearGoods::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-default);
  transform: rotate(5deg);
  z-index: -1;
  background-color: transparent;
}

.goodsList {
  list-style-type: none;
  margin-top: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.goodsList li {
  display: flex;
  align-items: center;
}

.listIcon {
  width: var(--space-md);
  height: var(--space-md);
  color: var(--fg-default);
  margin-right: var(--space-xs);
  fill: var(--fg-default);
}
