.officialGoods {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-lg);
	padding: var(--space-xl) var(--space-md);
}

.officialGoods > h1 {
	margin-bottom: var(--space-md);
}

.goodsHeading {
	font-size: var(--font-size-2xl);
	font-weight: var(--font-weight-normal);
}

.goodsTitleBox {
	border: 1px solid #191c4f;
	padding: var(--space-md) var(--space-md);
	margin-top: var(--space-xl);
	width: 250px;
	text-align: center;
	position: relative;
	z-index: 1;
	background-color: transparent;
}

.goodsTitleBox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(239 246 249 / 50%);
	transform: rotate(5deg);
	z-index: -1;
}

.lastYearGoods {
	position: relative;
	border: 3px solid #191c4f;
	padding: var(--space-xl) var(--space-xl);
	margin-top: var(--space-xl);
	text-align: center;
	width: 90%;
	max-width: 591px;
	background-color: transparent;
	z-index: 1;
	padding-right: var(--space-xl); /* 復活: 下の余白 */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.lastYearGoods::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #191c4f;
	transform: rotate(5deg);
	z-index: -1;
	background-color: transparent;
}

.lastYearGoodsTitle {
	align-self: center;
	text-align: center;
	margin-bottom: var(--space-xd);
	font-size: var(--font-size-2xl);
}

.goodsList {
	list-style-type: none;
	padding-left: 0;
	text-align: left;
	margin-top: var(--space-xd);
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	width: 100%;
	box-sizing: border-box;
	font-size: var(--font-size-lg);
	margin-bottom: var(--space-lg);
}

.goodsList li {
	display: flex;
	align-items: center;
	font-size: var(--font-size-lg);
}

.goodsList li:not(:has(> .listIcon)) {
	padding-left: calc(var(--space-md) + var(--space-xs));
}

.listIcon {
	width: var(--space-md);
	height: var(--space-md);
	fill: var(--fg-default);
	margin-right: var(--space-xs);
}

.goodsImage {
	max-width: 100%;
	height: auto;
	margin-top: var(--space-xl);
	margin-bottom: var(--space-2xl);
}

.salesSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 500px;
	margin-top: var(--space-2xl);
	padding: var(--space-lg) 0;
}

.salesHeading {
	margin-bottom: var(--space-md);
}

.salesListBox {
	padding: var(--space-lg);
	margin-top: var(--space-md);
}

.salesListBox .goodsList {
	margin-top: 0;
	display: inline-flex;
	width: auto;
	padding-left: 0;
}

.goodsListSubheading {
	margin-top: var(--space-sm);
	margin-bottom: var(--space-sm);
	font-weight: var(--font-weight-bold);
	color: var(--fg-default);
	text-align: left;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	font-size: var(--font-size-xl);
}

