.container {
  display: grid;
  gap: var(--space-2xl);
}

.tabList {
  background-color: var(--bg-canvas);
  margin-inline: calc((100% - 100cqw) / 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.tabTrigger {
  color: var(--theme-default);
  padding-block: var(--space-sm);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.tabTrigger[aria-selected="true"] {
  color: var(--theme-fg);
  background-color: var(--theme-default);
}

.subTab {
  height: var(--size-full);
  display: none;
  grid-template-columns: auto 1fr;
}

.subTabList {
  background-color: var(--bg-canvas);
  width: var(--space-3xl);
  display: grid;
  align-content: center;
}

.subTabTrigger {
  color: var(--theme-default);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  padding-block: var(--space-sm);
  display: grid;
  place-items: center;
}

.subTabTrigger[aria-selected="true"] {
  color: var(--theme-fg);
  background-color: var(--theme-default);
}

.subTabContent {
  height: var(--size-full);
}

.mapContainer {
  display: grid;
  height: var(--size-full);
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.carousel {
  display: grid;
  gap: var(--space-sm);
  grid-template-rows: auto 1fr;
}

.mapImage {
  max-width: var(--size-sm);
  margin-inline: auto;
  object-fit: contain;
}

.carouselAction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
}

.carouselButton {
  padding: var(--space-sm);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.carouselButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.floorLabel {
  text-align: center;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

@media (width >= 48rem) {
  .tabList {
    padding-left: var(--space-3xl);
    margin-inline: unset;
  }

  .tabTrigger {
    font-size: var(--font-size-2xl);
  }

  .tabContent {
    min-height: var(--size-lg);
  }

  .tabContent[data-state="open"] {
    display: grid;
  }

  .subTabTrigger {
    font-size: var(--font-size-2xl);
  }

  .subTab {
    display: grid;
  }

  .carousel {
    display: none;
  }

  .mapImage {
    max-width: var(--size-full);
  }
}
