.mainContent {
  padding-block: var(--space-3xl);
  display: grid;
  gap: var(--space-xl);
}

.themeSection {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.themeTitle {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  gap: var(--space-md);
  line-height: var(--line-heights-tight);
  white-space: nowrap;
  font-feature-settings: "palt";
  font-size: clamp(var(--font-size-xs), 7vw, var(--font-size-7xl));
  font-weight: var(--font-weight-bold);
}

.themeTitle h2 {
  font-size: clamp(var(--font-size-xs), 3.5vw, var(--font-size-3xl));
}

.themedivider {
  background-color: var(--theme-default);
  align-self: center;
  width: 3rem;
  height: 0.1rem;
}

.descriptionBox {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  position: relative;
  border: 3px solid var(--theme-default);
  border-radius: var(--radius-l2);
  box-shadow: var(--space-sm);
}

.descriptionBox::before {
  content: "";
  position: absolute;
  inset: -3%;
  z-index: -1;
  border-radius: var(--radius-l2);
  background-color: var(--bg-canvas);
  transform: rotate(4deg);
}

@media (width >= 48rem) {
  .descriptionBox::before {
    inset: -1%;
    transform: rotate(2deg);
  }
}

.descriptionText {
  color: var(--fg-default);
  font-size: var(--font-size-md);
  line-height: var(--line-heights-relaxed);
}
