.mainContent {
  padding-block: var(--space-3xl);
  display: grid;
  gap: var(--space-xl);
}

.themeSection {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.themeTitle {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center;
  gap: var(--space-md);
  line-height: var(--line-heights-tight);
  white-space: nowrap;
  font-feature-settings: "palt";
  font-size: clamp(var(--font-size-xs), 7vw, var(--font-size-7xl));
  font-weight: var(--font-weight-bold);
}

.themeTitle h2 {
  font-size: clamp(var(--font-size-xs), 3.5vw, var(--font-size-3xl));
}

.themedivider {
  background-color: var(--theme-default);
  align-self: center;
  width: var(--space-2xl);
  height: 0.1rem;
}

.themedescriptionBox {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  position: relative;
  border: 3px solid var(--theme-default);
  border-radius: var(--radius-l2);
  box-shadow: var(--shadow-sm);
}

.themedescriptionBox::before {
  content: "";
  position: absolute;
  inset: -3%;
  z-index: -1;
  border-radius: var(--radius-l2);
  background-color: var(--bg-canvas);
  transform: rotate(4deg);
}

@media (width >= 48rem) {
  .themedescriptionBox::before {
    inset: -1%;
    transform: rotate(2deg);
  }
}

.themedescriptionText {
  color: var(--fg-default);
  font-size: var(--font-size-md);
  line-height: var(--line-heights-relaxed);
}

.logoTitle {
  margin-top: var(--space-4xl);
}

.logoSection {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  margin-top: var(--space-xl);
}

.logocontainer {
  width: 100%;
  max-width: var(--size-xl);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding-inline: var(--space-md);
}

.logoimage {
  width: 100%;
}

.logoSubtitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: var(--space-md);
}

.logoDescriptionBox {
  width: 95%;
  background-color: var(--bg-canvas);
  border-radius: var(--radius-l2);
  padding: var(--space-lg);
}

.greetingTitle {
  margin-top: var(--space-4xl);
}

.greetingSection {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  margin-top: var(--space-xl);
}

.greetingHeader {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-align: left;
  margin-top: var(--space-md);
}

.greetingbox {
  width: 95%;
  background-color: var(--bg-canvas);
  border-radius: var(--radius-l2);
  padding: var(--space-lg);
}

.lastyeartitle {
  margin-top: var(--space-4xl);
}

.lastyearSection {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  margin-top: var(--space-xl);
}
