.mainContent {
  padding-block: var(--space-xl);
  display: grid;
  gap: var(--space-xl);
}

.themeSection {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.themeTitle {
  display: flex;
  justify-content: center;
  width: auto;
  align-items: center; /* baselineだときれいにそろわないためcenterに変更 */
  gap: var(--space-md);
  line-height: var(--line-heights-tight);
  font-size: var(--font-size-7xl);
  font-weight: bold;
  font-feature-settings: "palt";
}


.themeTitle h2 {
  font-size: var(--font-size-3xl);
}

.themedivider {
  background-color: var(--theme-default);
  align-self: center;
  width: 3rem;
  height: 0.1rem;
}

.descriptionBox {
  width: var(--size-full);
  background-color: var(--bg-muted);
  border: 1px solid var(--border-default);
  border-radius: var(--radius-l2);
  padding: var(--space-lg);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}


.descriptionText {
  color: var(--fg-default);
  font-size: var(--font-size-md);
  line-height: var(--line-heights-relaxed);
}

