.sponsorshipBox {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  background-color: var(--bg-default);
  box-shadow: var(--shadow-xs);
  padding: var(--space-md);
  border-radius: var(--radius-l3);
  justify-self: stretch;
}

.blackStarIcon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.sponsorName {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  min-width: 0;
}

.logoBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
}

.noLogo {
  font-size: var(--font-size-2xl);
}
