.pageContainer {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-4xl);
}

.programItem {
  display: grid;
  padding-top: var(--space-2xl);
  grid-template-areas:
    "logo"
    "organization"
    "location"
    "description"
    "caution"
    "tags";
}

.blackStarIcon {
  fill: var(--theme-default);
  width: 1.25rem;
  height: 1.25rem;
}

.programTitle {
  text-align: center;
  background-color: var(--theme-default);
  color: var(--color-gray-1);
  border-radius: var(--radius-l2);
  padding: var(--space-xs);
}

.programLogo {
  margin-top: 0;
  grid-area: logo;
  width: 100%;
  max-height: 30rem;
  border-radius: var(--radius-l2);
  object-fit: contain;
  justify-self: center;
}

.programOrganization {
  grid-area: organization;
  font-size: var(--font-size-3xl);
}

.pin {
  width: 1.25rem;
  max-height: 1.25rem;
}

.programLocation {
  grid-area: location;
  display: inline-flex;
  align-items: center;
}

.programTagList {
  grid-area: tags;
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

.programDescription {
  grid-area: description;
}

.programDescriptionTitle {
  display: inline-flex;
  align-items: center;
}

.blurredBox {
  padding: var(--space-xs);
}

.programCaution {
  grid-area: caution;
}

.programCautionTitle {
  grid-area: caution;
  display: inline-flex;
  align-items: center;
}

.programTag {
  height: fit-content;
}

.programInfo > * {
  margin-bottom: var(--space-xl); /* 各セクションの下にマージンを追加 */
}

.programContest {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--theme-default);
  padding: 0.125em 0.5em;
  border-radius: var(--radius-l2);
  gap: var(--space-xs);
  background: var(--color-gray-1);
}

.boldLink {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

.vote {
  width: 1.5rem;
  height: 1.5rem;
}

@media (width >= 48rem) {
  .programItem {
    grid-template-areas:
      "logo organization"
      "logo location"
      "logo description"
      "logo caution"
      "logo tags";
    grid-template-columns: 1fr 1fr;
  }

  .programLogo {
    align-items: start;
  }

  .programInfo {
    padding-left: var(--space-xl);
  }

  .programInfo > * {
    margin-bottom: var(--space-xl);
  }

  /* programInfo の最後の要素の下マージンは不要 */
  .programInfo > *:last-child {
    margin-bottom: 0;
  }

  .blackStarIcon {
    fill: var(--theme-default);
    width: 1.5rem;
    height: 1.5rem;
  }

  .pin {
    width: 1.5rem;
    height: 1.5rem;
  }
}
