.mainContainer > * {
  margin-bottom: var(--space-5xl);
}

.headLine {
  margin-top: var(--space-2xl);
}

.firstGroup {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  padding-bottom: var(--space-md);
}

.firstGroup * {
  margin-bottom: var(--space-xl);
}

.firstGroup > *:last-child {
  margin-bottom: 0;
}

.secondGroup {
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  padding-bottom: var(--space-md);
}

.secondHeading {
  display: flex;
  column-gap: var(--space-xl);
  margin-bottom: var(--space-xl);
  padding: 0;
}

.blackStarIcon {
  width: 1em;
  height: 1em;
  margin-right: var(--space-sm);
  display: inline;
  fill: currentcolor;
}

.mydl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-xs) var(--space-xl);
}

.mydt {
  display: flex;
  align-items: center;
  gap: var(--space-md); /* アイコンとテキストの間のスペース */
}

.mydd {
  grid-column-start: 2;
  margin-left: 0;
}

.mydt + dd,
.mydd + dt {
  margin-top: var(--space-sm);
}

@media (width >= 48rem) {
  .headLine {
    margin-top: var(--space-4xl);
  }

  .mydl {
    gap: var(--space-xs) var(--space-5xl);
  }

  .mydt + dd,
  .mydd + dt {
    margin-top: var(--space-md);
  }
}
