.mainContainer > * {
  margin-bottom: var(--space-3xl);
}

.headLine {
  margin-top: var(--space-2xl);
}

.section {
  padding: var(--space-md);
}

.section > * + * {
  margin-top: var(--space-xl);
}

.secondHeading {
  display: flex;
  column-gap: var(--space-xl);
  margin-bottom: var(--space-xl);
  padding: 0;
}

.blackStarIcon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.infoSection {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-xs) var(--space-xl);
}

.infoLabel {
  display: flex;
  align-items: center;
  gap: var(--space-sm); /* 星形アイコンとテキストの間のスペース */
}

.infoContent {
  grid-column-start: 2;
  margin-left: 0;
}

.infoLabel,
.infoLabel + .infoContent {
  margin-top: var(--space-sm);
}

@media (width >= 48rem) {
  .headLine {
    margin-top: var(--space-4xl);
  }

  .infoSection {
    gap: var(--space-xs) var(--space-5xl);
  }

  .infoLabel + dd,
  .infoContent + dt {
    margin-top: var(--space-md);
  }
}
