.mainContainer > * + * {
  margin-top: var(--space-3xl);
}

.section {
  padding: var(--space-md);
}

.section > * + * {
  margin-top: var(--space-xl);
}

.wordSpaced {
  word-spacing: var(--space-md);
}

.blackStarIcon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.infoSection {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-xs) var(--space-xl);
}

.infoLabel {
  display: flex;
  align-items: center;
  gap: var(--space-sm); /* 星形アイコンとテキストの間のスペース */
}

.infoContent {
  grid-column-start: 2;
  margin-left: 0;
}

.infoLabel,
.infoLabel + .infoContent {
  margin-top: var(--space-sm);
}

@media (width >= 48rem) {
  .infoSection {
    gap: var(--space-xs) var(--space-5xl);
  }

  .infoLabel,
  .infoLabel + .infoContent {
    margin-top: var(--space-md);
  }
}
