/* --- ページ全体のコンテナ --- */
.pageContainer {
  padding-top: 4rem;
  padding-bottom: 6rem;
  font-family: sans-serif;
}

/* --- マップ関連 --- */
.mainContent {
  width: 100%;
  max-width: 900px; /* .infoから移動 */
  margin: 4rem auto 0; /* .infoから移動 */
  display: flex;
  flex-direction: column;
  gap: 4rem; /* マップとinfoの間のスペース */
}

.mapContainer {
  width: 100%;
  max-width: 600px;
  margin-top: 60px;
  margin-inline: auto;
  box-sizing: border-box;
}

.mapImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.mapButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

/* --- 交通案内セクション --- */
.info {
  width: 100%;
  padding: 3rem;
  border-radius: 15px;

  --accent-default: #191c4f;
}

.contentWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.infoList {
  list-style: none;
  padding: 1px;
  margin-top: 30px;
  margin-left: 10px;
  line-height: 1.8;
}
