@layer reset, base, components;

@import url("reset.css") layer(reset);

@layer base {
  :root {
    /* ---------- Primitive: Grayscale (light -> dark) ---------- */
    --color-gray-1: #fff;
    --color-gray-2: #dbdbdb;
    --color-gray-3: #b6b6b6;
    --color-gray-4: #929292;
    --color-gray-5: #6d6d6d;
    --color-gray-6: #494949;
    --color-gray-7: #242424;
    --color-gray-8: #000;
    --color-gray-a1: #0000001a;
    --color-gray-a2: #0003;
    --color-gray-a3: #0000004d;
    --color-gray-a4: #0006;
    --color-gray-a5: #00000080;
    --color-gray-a6: #0009;
    --color-gray-a7: #000000b2;
    --color-gray-a8: #000c;
    --color-gray-a9: #000000e6;

    /* ---------- Primitive: Accent (light -> dark) ---------- */
    --color-accent-1: #d0d2f0;
    --color-accent-2: #b1b4e7;
    --color-accent-3: #777cd4;
    --color-accent-4: #3d44c2;
    --color-accent-5: #2b2f88;
    --color-accent-6: #191c4f; /* default */
    --color-accent-7: #151742;
    --color-accent-8: #111336;
    --color-accent-a1: #191c4f1a;
    --color-accent-a2: #191c4f33;
    --color-accent-a3: #191c4f4d;
    --color-accent-a4: #191c4f66;
    --color-accent-a5: #191c4f80;
    --color-accent-a6: #191c4f99;
    --color-accent-a7: #191c4fb2;
    --color-accent-a8: #191c4fcc;
    --color-accent-a9: #191c4fe6;

    /* ---------- Primitive: Complementary ---------- */
    --color-complementary-1: #fffbf0;
    --color-complementary-2: #fff5db;
    --color-complementary-3: #ffebb8;
    --color-complementary-4: #ffe194;
    --color-complementary-5: #ffe194;
    --color-complementary-6: #ffcd4d; /* default */
    --color-complementary-7: #ffbe1a;
    --color-complementary-8: #e6a400;
    --color-complementary-a1: #ffcd4d1a;
    --color-complementary-a2: #ffcd4d33;
    --color-complementary-a3: #ffcd4d4d;
    --color-complementary-a4: #ffcd4d66;
    --color-complementary-a5: #ffcd4d80;
    --color-complementary-a6: #ffcd4d99;
    --color-complementary-a7: #ffcd4db2;
    --color-complementary-a8: #ffcd4dcc;
    --color-complementary-a9: #ffcd4de6;

    /* ---------- Semantic: Foreground ---------- */
    --fg-default: var(--color-gray-8);
    --fg-muted: var(--color-gray-5);

    /* ---------- Semantic: Background ---------- */
    --bg-default: var(--color-gray-1);
    --bg-muted: var(--color-gray-2);
    --bg-canvas: #eff6f9;

    /* ---------- Semantic: Accent ---------- */
    --accent-default: var(--color-accent-6);
    --accent-fg: var(--color-gray-1);

    /* ---------- Semantic: Border ---------- */
    --border-default: var(--color-gray-3);
    --border-muted: var(--color-gray-2);

    /* ---------- Spacing ---------- */
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
    --space-3xl: 4rem;
    --space-4xl: 6rem;
    --space-5xl: 8rem;
    --space-6xl: 12rem;
    --space-7xl: 16rem;
    --space-8xl: 24rem;

    /* ---------- Border Radius ---------- */
    --radius-l1: 0.25rem;
    --radius-l2: 0.5rem;
    --radius-l3: 0.75rem;
    --radius-full: 9999px;

    /* ---------- Shadows ---------- */
    --shadow-xs:
      0 1px 2px var(--color-gray-a2), 0 0.5px 0.5px var(--color-gray-a2);
    --shadow-sm:
      0 1px 3px var(--color-gray-a2), 0 1px 1.5px var(--color-gray-a2);
    --shadow-md: 0 2px 6px var(--color-gray-a2), 0 1px 3px var(--color-gray-a3);
    --shadow-lg:
      0 6px 12px var(--color-gray-a2), 0 2px 6px var(--color-gray-a3);
    --shadow-xl:
      0 12px 24px var(--color-gray-a2), 0 4px 12px var(--color-gray-a3);

    /* ---------- Size ---------- */
    --size-xs: 20rem;
    --size-sm: 24rem;
    --size-md: 28rem;
    --size-lg: 32rem;
    --size-xl: 36rem;
    --size-2xl: 42rem;
    --size-3xl: 48rem;
    --size-4xl: 56rem;
    --size-5xl: 64rem;
    --size-6xl: 72rem;
    --size-7xl: 80rem;
    --size-8xl: 90rem;
    --size-full: 100%;

    /* Font Family */
    --font-sans-jp:
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP",
      "Noto Sans CJK JP", roboto, "Helvetica Neue", arial, "Yu Gothic", meiryo,
      sans-serif;

    /* ---------- Font ---------- */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;
    --font-size-7xl: 4.5rem;
    --font-size-8xl: 6rem;

    /* ---------- Font Weight ---------- */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* ---------- Line Height ---------- */
    --line-heights-none: 1;
    --line-heights-tight: 1.25;
    --line-heights-normal: 1.5;
    --line-heights-relaxed: 1.75;
    --line-heights-loose: 2;
  }

  html,
  body {
    background-color: var(--bg-default);
    color: var(--fg-default);
    min-height: 100dvh;
    font-family: var(--font-sans-jp);
  }
}
