.privacyPolicy {
  padding-block: 60px;
}

.h3Custom {
  font-size: var(--font-size-xl);
}

.privacyPolicy > * + * {
  margin-top: var(--space-lg);
}

.privacyPolicy a {
  color: var(--theme-default);
}

.privacyPolicy a + a {
  margin-left: var(--space-md);
}

.privacyPolicy a:hover {
  text-decoration: underline;
}

@media (width >= 48rem) {
  .privacyPolicy {
    padding-block: 80px;
  }
}
