.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  padding-top: var(--space-4xl);
  padding-block: var(--space-3xl);
}

@media (width >= 48rem) {
  .container {
    padding-top: var(--space-3xl);
  }
}

.divider {
  border-bottom: 1px solid var(--border-default);
}
