@layer components {
  .container {
    --star-size: 1rem;

    position: relative;
    isolation: isolate;
    width: var(--size-full);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
  }

  .decoration {
    display: flex;
    width: var(--size-full);
    align-items: center;
    gap: var(--space-md);
    z-index: -1;
  }

  .container > * + .decoration {
    margin-top: calc(var(--star-size) * -1 / 2);
  }

  .container > .decoration + * {
    margin-top: calc(var(--star-size) * -1 / 2);
  }

  .star {
    color: var(--theme-default);
    stroke-width: 4px;
    width: var(--star-size);
    height: var(--star-size);
  }

  .star.fill {
    fill: var(--theme-default);
  }

  .divider {
    background-color: var(--theme-default);
  }

  @media (width >= 48rem) {
    .container {
      --star-size: 2.5rem;
    }

    .divider {
      height: 2px;
    }
  }
}
