.container {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-inline: var(--space-md);
  padding-top: var(--space-sm);
  display: none;
}

.header {
  display: flex;
  background-color: var(--theme-default);
  color: var(--theme-fg);
  border-radius: var(--radius-full);
  padding: var(--space-md) var(--space-lg);
  padding-right: var(--space-2xl);
  align-items: center;
  box-shadow: var(--shadow-md);
}

.symbol {
  color: var(--theme-fg);
  height: var(--symbol-size);
  aspect-ratio: 1 / 1;
}

@media (width >= 48rem) {
  .container {
    display: block;
  }
}
