.mainContent {
  margin-top: var(--space-2xl);
  display: grid;
  gap: var(--space-2xl);
}

.timetableContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  margin-bottom: var(--space-xl);
}

.timetable {
  width: 100%;
  height: auto;
}

.section {
  display: grid;
  padding: var(--space-xl) 0;
}

@media (width >= 48rem) {
  .timetableContainer {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
  }
}

@media (width >= 64rem) {
  .mainContent {
    margin-top: var(--space-3xl);
    gap: var(--space-3xl);
  }

  .timetableContainer {
    margin-bottom: var(--space-2xl);
    gap: var(--space-2xl);
  }
}
