.officialGoods {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.officialGoods > h1 {
  margin-top: var(--space-lg);
}

.goodsHeading {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-normal);
}

.goodsTitleBox {
  border: 1px solid var(--theme-default);
  padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
  margin-top: var(--space-xl);
  width: var(--size-64);
  max-width: 90%;
  text-align: center;
  position: relative;
  background-color: transparent;
}

.goodsTitleBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-canvas);
  transform: rotate(5deg);
  z-index: -1;
}

.lastYearGoods {
  position: relative;
  border: 2px solid var(--theme-default);
  padding: var(--space-lg) var(--space-2xl) var(--space-lg) var(--space-4xl);
  margin-top: var(--space-xl);
  text-align: center;
  max-width: 36.9375rem;
  background-color: transparent;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
}

.lastYearGoods::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--theme-default);
  transform: rotate(5deg);
  z-index: -1;
  background-color: transparent;
}

.lastYearGoodsTitle {
  font-size: var(--font-size-2xl);
  padding-bottom: var(--font-size-2xl);
}

.goodsList {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  margin-top: var(--space-xd);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 100%;
  box-sizing: border-box;
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-lg);
}

.goodsList li {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
}

.goodsList li:not(:has(> .listIcon)) {
  padding-left: calc(var(--space-md) + var(--space-xs));
}

.listIcon {
  width: var(--space-md);
  height: var(--space-md);
  fill: var(--fg-default);
  margin-right: var(--space-xs);
}

.goodsImage {
  max-width: 100%;
  height: auto;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-2xl);
}

.salesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin-top: var(--space-2xl);
}

.salesListBox {
  margin-top: var(--space-md);
}

.salesListBox .goodsList {
  margin-top: 0;
  display: inline-flex;
  width: auto;
  padding-left: 0;
}

.goodsListSubheading {
  color: var(--fg-default);
  text-align: left;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
