.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  width: 100%;
  background-color: var(--bg-canvas);
  border: var(--theme-default) solid 2px;
  border-radius: var(--radius-l3);
  padding: var(--space-xs);
  word-break: keep-all;
}

.filterTitle {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-right: auto;
  font-size: var(--font-size-md);
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: var(--space-sm);
  width: 100%;
}

.blackStarIcon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.option,
.selectedOption {
  padding: var(--space-xs) var(--space-sm);
  text-align: center;
  border-radius: var(--radius-l1);
  cursor: pointer;
  user-select: none;
  font-size: var(--font-size-sm);
  word-break: keep-all;
  border: var(--theme-default) solid 2px;
  overflow-wrap: anywhere;
  transition: background-color 0.2s ease;
}

.selectedOption {
  background-color: var(--theme-default);
  color: var(--theme-fg);
}

.option:hover,
.selectedOption:hover {
  background-color: var(--bg-muted);
}
