.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xl);
}

.mapContainer {
  width: 100%;
  max-width: var(--size-2xl);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-md);
}

.mapImage {
  width: 100%;
  box-shadow: var(--shadow-md);
}

@media (width >= 48rem) {
  .mapContainer {
    max-width: var(--size-3xl);
  }
}

@media (width >= 64rem) {
  .mapContainer {
    max-width: var(--size-4xl);
  }
}
