.appContainer {
  box-sizing: border-box;
    margin: 0 auto;    
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  
 

  .mainContent {
    padding-top: 70px;
    position: relative;
    margin: 0 auto; 
    left: auto;
    right: auto;
    top: auto;
  }

  .mainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: normal;
    color: #1a202c; 
    padding: 10px 0;
    margin-top: 2rem;
  }


  .icon {
    margin-right: 24px;
    width: 30px; 
    height: 31px; 
    position: relative; 
    top: -13px;
  }
  
  .noticeSectionsWrapper {
    display: flex;
    flex-direction: column;  
  gap: 30px;
  margin-bottom: 60px; 
  max-width: 100%; 
  }
  
  .dividerWrapper {
    position: relative;
    max-width: 100%; 
    width: 100%; 
    display: block;
    margin: 0 auto;    
    margin-top: -4rem; 
    margin-bottom: 90px; 
  }
  
  .lineDivider {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 100%;
  }

  .footer{
    margin-top: -3rem;
  }

  @media (1097px<=width<=1360px) {
    .dividerWrapper {
      position: relative;
      max-width: 100%; 
      width: 100%; 
      display: block;
      margin: 0 auto;    
      margin-top: -4rem; 
      margin-bottom: 45px; 
    }
  }

  @media (768px<=width<=1096px) {
    .mainTitle{
      font-size: 33px;
    }

    .appContainer {
      margin-top: -1rem;
    }

    .icon {
      margin-right: 20px;
      width: 34px; 
      height: 32px; 
      position: relative; 
  }

    .dividerWrapper {
      position: relative;
      max-width: 100%; 
      width: 100%; 
      display: block;
      margin: 0 auto;    
      margin-top: -1.0rem; 
      margin-bottom: 50px; 
    }
  }

  @media (431px<=width<=767px) {
    .mainTitle {
        font-size: 1.4rem; 
    }

    .appContainer {
      margin-top: -1rem;
    }

    .noticeSectionsWrapper{
      margin-top: -3.0rem;
    }

    .icon {
        margin-right: 20px;
        width: 32px; 
        height: 32px; 
        position: relative; 
    }

    .dividerWrapper {
        position: relative;
        max-width: 100%; 
        width: 100%; 
        display: block;
        margin: 0 auto;    
        margin-top: 0.3rem; 
        margin-bottom: 85px; 
      }
      
}

@media (width<=430px) {
  .appContainer {
  margin-top: -1rem;
  }

  .mainTitle {
    font-size: 22px; 
}

  .noticeSectionsWrapper{
    margin-top: -4.0rem;
  }

  .icon {
    margin-right: 20px;
    width: 34px; 
    height: 32px; 
    position: relative; 
    top: -13px;
  }

  .dividerWrapper {
    position: relative;
    max-width: 100%; 
    width: 100%; 
    display: block;
    margin: 0 auto;    
    margin-top: 1.5rem; 
    margin-bottom: 100px; 
  }

}

