.mainContent {
  position: relative;
  margin: 0 auto;
  padding-top: var(--space-2xl);
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  padding: var(--space-xs);
  margin-top: var(--space-2xl);
}

.noticeSectionsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.dividerWrapper {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: -3.7rem;
  margin-bottom: var(--space-3xl);
}

.lineDivider {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}

@media (width >= 767px) and (width <= 1023px) {
  .dividerWrapper {
    position: relative;
    display: block;
    margin-top: -3rem;
    margin-bottom: var(--space2);
  }
}

@media (width <= 766px) {
  .mainContent {
    position: relative;
    margin: 0 auto;
    padding-top: var(--space-xl);
  }

  .noticeSectionsWrapper {
    margin-top: -3rem;
    gap: var(--space-lg);
  }

  .dividerWrapper {
    display: block;
    margin: 0 auto;
    margin-bottom: var(--space-3xl);
  }
}
