.noticeSection {
  padding: var(--space-4xl) var(--space-xl) var(--space-sm);
  border-radius: var(--radius-l3);
}

.sectionTitle {
  position: absolute;
  top: var(--space-2xl);
  transform: translateY(-50%);
  background-color: var(--bg-muted);
  border-radius: var(--radius-l3);
  padding: var(--space-sm) var(--space-lg);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  color: var(--fg-default);
  box-shadow: var(--shadow-md);
  border-bottom: none;
}

.noticeSection ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: var(--space-md);
}

@media (width <= 766px) {
  .noticeSection {
    padding: var(--space-4xl) var(--space-xl) var(--space-sm);
  }

  .sectionTitle {
    top: var(--space-2xl);
    font-size: var(--font-size-md);
  }

  .noticeSection li {
    line-height: 1.6;
  }
}
