.troubleSection {
  color: var(--fg-default);
  padding: var(--space-2xl) var(--space-xl) var(--space-sm) var(--space-lg);
  border-radius: var(--radius-l3);
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.sectionTitle {
  position: relative;
  transform: translateY(-50%);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-md);
  background-color: var(--color-gray-2);
  border-radius: var(--radius-l3);
  padding: var(--space-sm) var(--space-sm);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  box-shadow: var(--shadow-md);
  bottom: var(--space-lg);
  width: 18.6rem; /* var(--space--lg)だと狭すぎて改行され、--space-xlだと広すぎてしまうためてこの値を使用 */
}

.contentBox {
  border: 3px solid var(--theme-default);
  padding: var(--space-lg);
  border-radius: 30px;
  color: var(--fg-default);
  margin: 0 auto;
  position: relative;
  font-weight: bolder;
  bottom: var(--space-2xl);
}

.mainMessage {
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  margin-bottom: var(--space-md);
}

.description {
  line-height: 1.6;
  margin-bottom: var(--space-xs);
  font-weight: normal;
}

.contactInfo {
  font-weight: normal;
}

.troubleExamples {
  margin: var(--space-sm) 0;
  font-weight: bolder;
}

@media (width <= 766px) {
  .troubleSection {
    padding: var(--space-2xl) var(--space-lg) 0;
  }

  .sectionTitle {
    font-size: var(--font-size-md);
    width: var(--space-6xl);
  }
}
