.introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.body {
  display: grid;
  gap: var(--space-2xl);
}

@media (width >= 48rem) {
  .body {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-3xl);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePlaceholder {
  width: 100%;
  max-width: 25rem;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-l3);
  box-shadow: var(--shadow-md);
}

@media (width >= 48rem) {
  .imagePlaceholder {
    max-width: 28rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.tabs {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
}

@media (width >= 48rem) {
  .tabs {
    justify-content: flex-start;
  }
}

.tab {
  position: relative;
  border-radius: var(--radius-full);
  padding: 0.25rem;
  border: 3px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: transparent;
}

.tab:hover {
  transform: scale(1.05);
}

.tab[data-active="true"] {
  border-color: var(--indicator-color);
  box-shadow: 0 0 0 2px var(--bg-default);
}

.tabImagePlaceholder {
  width: 4rem;
  height: 4rem;
  border-radius: var(--radius-full);
  transition: transform 0.2s ease;
}

@media (width >= 48rem) {
  .tabImagePlaceholder {
    width: 5rem;
    height: 5rem;
  }
}

.tab[data-active="true"] .tabImagePlaceholder {
  transform: scale(1.05);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-xl);
  border: 1px solid var(--border-default);
  border-radius: var(--radius-l2);
  background-color: var(--bg-default);
}

@media (width >= 48rem) {
  .description {
    padding: var(--space-2xl);
  }
}
