.container {
  display: grid;
  gap: var(--space-md);
  padding: var(--space-xl);
}

@media (width >= 48rem) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-3xl);
  }
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3 / 4;
  border: var(--border-muted) solid 4px;
  border-radius: var(--radius-l3);
  position: relative;
  max-width: fit-content;
  height: fit-content;
}

.imageWrapper {
  width: 100%;
  max-width: 25rem;
  margin-inline: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

@media (width > 48rem) {
  .content {
    gap: var(--space-2xl);
  }
}

.tabList {
  display: flex;
  gap: var(--space-xl);
  width: 100%;
  justify-content: center;
}

@media (width > 48rem) {
  .tabList {
    justify-content: space-evenly;
  }
}

.tabTrigger {
  position: relative;
  border-radius: var(--radius-full);
  padding: var(--space-2xs);
  border: 3px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  max-width: 5rem;
  aspect-ratio: 1;
}

@media (width >= 48rem) {
  .tabTrigger {
    max-width: 15rem;
  }
}

.tabTrigger:hover {
  transform: scale(1.05);
}

.tabTrigger[data-state="active"] {
  border-color: var(--indicator-color);
  box-shadow: 0 0 0 var(--shadow-sm) var(--bg-default);
}

.tabImageWrapper {
  position: relative;
  aspect-ratio: 1;
  border-radius: var(--radius-full);
  transition: transform 0.2s ease;
  overflow: hidden;
}

.tabImageWrapper::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: var(--bg-default) 4px solid;
  border-radius: var(--radius-full);
}

.tabTrigger[data-state="active"] .tabImageWrapper {
  transform: scale(1.05);
}

.tabContent {
  display: none;
}

.tabContent[data-state="open"] {
  display: block;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md);
  border: 4px solid var(--border-muted);
  border-radius: var(--radius-l2);
}

@media (width >= 48rem) {
  .description {
    padding: var(--space-xl);
  }

  .description > p {
    font-size: var(--font-size-xl);
  }
}

@media (width >= 48rem) {
  .description::before {
    width: 130%;
    height: 130%;
    transform: translate(-50%, -50%) rotate(-4deg);
  }
}

.description > * {
  position: relative;
  z-index: 1;
}

.xAccount {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  margin-top: var(--space-sm);
  color: var(--fg-muted);
  font-size: var(--font-size-sm);
}

.description::before,
.imgWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  transform: rotate(5deg);
  border-radius: var(--radius-l3);
  z-index: -1;
}
