.faqItem {
  margin-bottom: var(--space-lg);
  border: 2px solid var(--theme-default);
  border-radius: var(--radius-l3);
  background-color: var(--bg-default);
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: var(--space-md);
}

.questionText {
  display: flex;
  gap: var(--space-md);
  flex-direction: row;
  text-align: left;
}

/* ▼ 矢印 */
.arrow {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow span::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-left: 2px solid var(--theme-default);
  border-top: 2px solid var(--theme-default);
  transform: rotate(-135deg);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.arrow[data-state="open"] span::before {
  transform: translateY(calc(-1em * 0.2)) rotate(45deg);
}

.faqItem [data-scope="accordion"][data-part="item-content"] {
  overflow: hidden;
  transition: padding-bottom 0.25s ease;
}

.faqItem [data-scope="accordion"][data-part="item-content"][data-state="open"] {
  animation: collapseIn 0.25s ease;
}

.faqItem
  [data-scope="accordion"][data-part="item-content"][data-state="closed"] {
  animation: collapseOut 0.25s ease;
}

.answer {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  padding: var(--space-md);
}

@keyframes collapseIn {
  from {
    height: 0;
  }

  to {
    height: var(--height);
  }
}

@keyframes collapseOut {
  from {
    height: var(--height);
  }

  to {
    height: 0;
  }
}
