.privacyPolicy {
  padding-block: var(--space-3xl);
}

.privacyPolicy > * + * {
  margin-top: var(--space-lg);
}

.anchorLink {
  color: var(--theme-default);
  margin-top: var(--space-md);
  display: block;
}

.anchorLink:hover {
  text-decoration: underline;
}

@media (width >= 48rem) {
  .privacyPolicy {
    padding-block: var(--space-5xl);
  }
}
